[submodule "drone-manager"]
	path = drone-manager
	url = git@github.com:Abstract-9/DroneManager.git
	branch = main
[submodule "flight-path-manager"]
	path = flight-path-manager
	url = git@github.com:Abstract-9/FlightPathManager.git
	branch = main
[submodule "job-manager"]
	path = job-manager
	url = git@github.com:Abstract-9/JobManager.git
	branch = main
[submodule "landing-bay-manager"]
	path = landing-bay-manager
	url = git@github.com:Abstract-9/LandingBayManager.git
	branch = main
